{%load static%}


<!DOCTYPE html>
<html lang="es">
<head>
    
    <title>{% block title %} Autos del Mar {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'concesionario/vendor/bootstrap/css/bootstrapp.min.css' %}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link rel="stylesheet" href="{% static 'concesionario/css/landing.css' %}">

</head>
<body>

    <header>
        <div class="topnav">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{% url 'landing' %}"><i class="fas fa-car icon"></i>&nbspAutos&nbspdel&nbspMar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'lista_vehiculos' %}">Comprar&nbspauto <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'catalogo_repuestos' %}">Catálogo de Repuestos <span class="sr-only">(current)</span></a>
                      </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrito' %}">Carrito</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                      </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Registrate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Inicia sesion</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
            </div>
          </div>      
    </header>

    {% block content %}

    <div class="datos container">
      <div class="datos-body">
        <a href="https://maps.app.goo.gl/AYB1S7Xgu3wWKoca6"><i class="fa-solid fa-store fa-2x"></i>
          <h5 class="mt-0 mb-1">Ventas</h5>
        </a>
        <p>Av.San Pato 65423, San Antonio</p>
        <p>Lunes A viernes 9:00 a 18:00 hrs</p>
        <p>Sabado 10:00 a 14:00 hrs </p>
      </div>
    
      <div class="datos-body">
        <a href="https://maps.app.goo.gl/D8pJjC4EV8SFDFpDA"><i class="fa-solid fa-building fa-2x"></i>
          <h5 class="mt-0 mb-1">Casa Central</h5>
        </a>
        <p>Av.Carito 2015, Santo Domingo</p>
        <p>Lunes A viernes 9:00 a 18:00 hrs</p>
        <p>Sabado y domingos cerrado </p>
      </div>
    </div>
  

    {% endblock %}

    <footer class="oscuro">
        <div class="container">
          <div class="icons">
            <div>
              <a id="foot" href="https://www.facebook.com/"><i class="fab fa-facebook fa-5x"></i></a>
            </div>
            <div>
              <a id="foot" href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-5x"></i></a>
            </div>
            <div>
              <a id="foot" href="https://www.instagram.com/"><i class="fab fa-instagram fa-5x"></i></a>
            </div>
          </div>
          <div class="text">
            <p>Autos del mar 2024. Todos los derechos reservados.</p>
          </div>
        </div>
      </footer>
    

    <script src="{% static 'concesionario/vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'concesionario/vendor/bootstrap/js/bootstrap.bundle.js' %}" ></script>
</body>
</html>
