{%extends "concesionario/landing.html" %}

{%block title%} Catálogo de Repuestos {%endblock%}

<{% block content %}

<body>
    <h1>Repuestos</h1>
    <ul>
        {% for repuesto in repuestos %}
        <div class=" container card mt-4 mb-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-m-6 bg-light-rounded">
                        <img src="/media/{{ repuesto.imagen }}" 
                            alt="{{ repuesto.nombre }}""
                             class="card-img-top 
                               text-center 
                               justify-content-center 
                               align-items-center
                               mt-4
                               ml-2"
                        style="width:30rem;"/>
                        {{ repuesto.nombre }} - {{ repuesto.precio }}
                        <a href="{% url 'agregar_al_carrito' repuesto.id %}" class="button"><h2 class="mt-2 text-center">Agregar al Carrito</h2></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'ver_carrito' %}" class="button">Carrito</a>
        <a href="{% url 'logout' %}" class="button">Cerrar Sesión</a>
    {% endif %}
</body>

{%endblock%}
