

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(209, 225, 238);
    background: linear-gradient(to right, #f7f3f3,rgb(157, 207, 248));
  }

/* Stilos para la barra de busquedad (Navbar)*/



a {
    color: rgb(17, 4, 4);
    text-decoration: none;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .topnav {
    background-color: #151516;
    width: 100%;
  }
  
  .icon {
    font-size: 24px;
  }
  .topnav a {
    float: left;
    color: #200f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif; 
  }
  

  .topnav a.active {
    background-color: #d1f0e5;
    color: white;
  }

  span {
    background-color: rgb(34, 29, 29);
  }


/*Pie de pagina*/

  footer {
    margin-top: auto;
    background-color: rgb(27, 17, 17);
    color: rgb(247, 242, 242);
    padding: 0;
    padding-bottom: 0;
  }
  
  .icons div {
    margin: 0 20px;
    color: #d1f0e5; 
  }
  
  
  
  .icons {
    padding-top: 1rem;
    margin:auto;
    display: flex;
    justify-content: center;
  
  }
  
  .text{
    margin-top: 1rem;
    text-align: center;
  }
  
  #foot {
    color: white;
  }

  /*DATOS*/

.datos {
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 4%;
  padding: 4rem;
}

.datos div {
  margin: auto;
  border-left: #200f0f 3px solid;
  padding: 2rem;
  outline-offset: 2px;
}

.card-img-top img {
  border-radius: 4%;
  margin-top: 1rem;
  max-height: 700px;
  min-height: 200px;
}

/*Estilos catalogo*/

.titulo-catalago{
  align-items: center;
  text-align: center;
  max-width: 500px;
  text-wrap: balance;
}

.card-img-top {
  width: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
  display:flex;
  align-items: center;
}

.card {
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2px;
  padding: 2px;
  background: none;
}

.button {
  margin: 2%;
  display: flex;
  padding: 10px 20px;
  background-color: #111111; /* Button background color */
  color: white; /* Button text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}


